
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata


# RStudio files
.Rproj.user/

.idea/

# R Environment Variables
.Renviron


# RStudio Connect folder
rsconnect/

renv/

lab_1/lab_1_files
lab_2/lab_2_files/libs